[Unit]
Description=Run SHEIN BI PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 01:45:00
AccuracySec=5s
Persistent=false
Unit=shein-bi-db-backup.service

[Install]
WantedBy=timers.target
