[Unit]
Description=Run SHEIN BI cloud login/session manager daily

[Timer]
OnCalendar=*-*-* 02:20:00
Persistent=true
Unit=shein-bi-cloud-session-manager.service

[Install]
WantedBy=timers.target
