[Unit]
Description=Run SHEIN BI PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 02:40:00
Persistent=true
Unit=shein-bi-db-backup.service

[Install]
WantedBy=timers.target
