METABASE_PORT=3000

METABASE_DB_NAME=metabase
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=change-me-metabase

WAREHOUSE_PORT=54329
WAREHOUSE_DB_NAME=shein_bi
WAREHOUSE_DB_USER=shein
WAREHOUSE_DB_PASSWORD=change-me-warehouse
